{% extends 'auctions/layout.html' %}

{% block body %}
  <h2>{{ listing.name }} Listing</h2>
  <br />
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col-md-6">
      <div class="card mb-3">
        <img src="{{ listing.image_url }}" class="card-img-top" alt="Album Cover" style="max-width: 320px; align-self: center;" />
        <div class="card-body">
          <h5 class="card-title">{{ listing.title }}</h5>
          <p class="card-text text-danger font-weight-bold">${{ listing.bid_start }} CLP</p>
          <p class="card-text">{{ listing.description }}</p>
          <p class="card-text">
            <small class="text-muted">Category: <a href="{% url 'category_listings' listing.category.slug %}">{{ listing.category }}</a></small>
          </p>
          <div class="d-grid gap-2">
            <a href="{% url 'listing' listing.id %}" class="btn btn-primary" role="button">Place a Bid</a>
            {% if user.is_authenticated %}
              {% if watchlist %}
                <form action="{% url 'remove_watchlist' listing.id %}" method="post" class="mt-2">
                  {% csrf_token %}
                  <button class="btn btn-outline-danger w-100" type="submit">Remove from Watchlist</button>
                </form>
              {% else %}
                <form action="{% url 'add_watchlist' listing.id %}" method="post" class="mt-2">
                  {% csrf_token %}
                  <button class="btn btn-outline-primary w-100" type="submit">Add to Watchlist</button>
                </form>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          {% if user.is_authenticated %}
            <h5 class="card-title mb-3">Leave a Comment</h5>
            <form action="{% url 'add_comment' listing.id %}" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label for="commentName" class="form-label">Name:</label>
                <input type="text" class="form-control" id="commentName" name="comment_name" value="{{user}}" required disabled />
              </div>
              <div class="mb-3">
                <label for="commentContent" class="form-label">Comment:</label>
                <textarea class="form-control" id="commentContent" name="comment_content" rows="5" required></textarea>
              </div>
              <button class="btn btn-primary" type="submit">Submit Comment</button>
            </form>
          {% else %}
            <p>
              Please <a href="{% url 'login' %}">log in</a> to leave a comment.
            </p>
          {% endif %}
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-3">All comments</h5>
          <div class="comment-list">
            {% for comment in comments %}
              <div class="media mb-3">
                <div class="media-body">
                  <span class="badge bg-secondary text-white rounded-pill">By: {{ comment.author }}</span>
                  <p>{{ comment.message }}</p>
                  <small class="text-muted">{{ comment.created_at }}</small>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
